.card{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.card__img{
    flex-grow: 1;
    background-color: aquamarine;
    height: 100px;
}
.card__body{
    flex-grow: 1;
}
.card__title{
    font-size: 20px;
    margin: 0;
    margin-top: 8px;
}
.card__link{
    display: block;
    padding: 10px;
}