.card{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.card__img{
    flex-grow: 1;
    background-color: aquamarine;
    height: 100px;
}
.card__body{
    flex-grow: 1;
}
.card__title{
    font-size: 20px;
    margin: 0;
    margin-top: 8px;
}
.card__link{
    display: block;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 255, 0.708);
    border-radius: 5px;
    color: white;
    width: 120px;
    text-decoration: none;
}