.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.card{
    display: none;
    /* display: flex;
    flex-direction: column; */
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.card__img{
    flex-grow: 1;
    background-color: aquamarine;
    height: 150px;
    border-radius: 5px 5px 0 0;
}
.card__body{
    flex-grow: 1;
    padding: 10px;
}
.card__title{
    font-size: 20px;
    margin: 0;
    margin-top: 8px;
}
.card__link{
    display: block;
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 255, 0.79);
    border-radius: 5px;
    color: white;
    width: 120px;
    text-decoration: none;
}