/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.9em;
}

body,
html {
    font-family: 'Poppins', sans-serif;
}

.ueh-block-title {
    color: #f26f33 !important;
}

.fs-1 {
    font-size: 3.0517578125em !important;
    ;
}

#img-scale {
    transform: scale(1);
    transition: 0.5s;
}

#img-scale:hover {
    transform: scale(1.05);
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
}

.section {
    padding: 30px 0;
}

/* HEADER */
.fix .body {
    position: fixed;
    top: 20vh;
    width: 100%;
    z-index: -1;
}

.fix .placeholder {
    position: relative;
    height: 1000px;
    z-index: 1;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.video {
    flex-grow: 1;
}

.video-ueh {
    height: 100%;
    background-image: url('../img/ueh-vid.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#brand-bar {
    background-color: rgb(0, 95, 105) !important;

}

#navbarUeh .nav-item {
    transition: 0.5s;
}

#navbarUeh .nav-item:hover:not(:last-child) {
    background-color: #f26f33;
}

.navbar #header--workmark {
    font-size: 1.1em !important;
    line-height: 1.8em !important;
}

#logo-header {
    max-height: 36px !important;
}

#navbarUeh .nav-item .nav-link {
    color: #fff;
    font-weight: 300;
    padding: .5555555556em .5em;
    outline-offset: -4px;
}

.button-cover {
    background-color: white;
    border-radius: 30px;
    padding: 1.5px 4px;
    line-height: 10px;
}

.button-cover .vi {
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(0, 95, 105);
    padding: 8px;
    font-size: 10px;
    font-weight: bold;
}

.button-cover .en {
    color: rgb(0, 95, 105);
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
}

#navbarUeh .btn-info,
#navbarUeh .btn-info:focus {
    color: white;
    background-color: rgb(0, 95, 105);
    border: 0;
    font-size: inherit;
    padding: 0 40px 0 60px;
    box-shadow: none;
}


/* CAROUSEL */


#uehIndicators .carousel-indicators .active {
    background-color: white;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    width: 5%;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    background-clip: border-box;
}

.carousel-control-prev .fa-angle-left {
    font-size: 40px;
}

.carousel-control-next .fa-angle-right {
    font-size: 40px;
}

.news__overplay {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 95, 105, 0.8);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.news__col {
    display: flex;
    flex-direction: column;

}

.new__content {
    padding: 20px 25px;
}

.news__img {
    height: auto;
}